/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        combo_workspace_1 {
            bindings = <&kp LG(NUMBER_1)>;
            key-positions = <36 13>;
        };

        combo_workspace_2 {
            bindings = <&kp LG(N2)>;
            key-positions = <14 36>;
        };

        combo_workspace_3 {
            bindings = <&kp LG(N3)>;
            key-positions = <36 15>;
        };

        combo_workspace_4 {
            bindings = <&kp LG(N4)>;
            key-positions = <36 16>;
        };

        combo_workspace_5 {
            bindings = <&kp LG(N5)>;
            key-positions = <36 17>;
        };

        combo_workspace_6 {
            bindings = <&kp LG(N6)>;
            key-positions = <36 25>;
        };

        combo_workspace_7 {
            bindings = <&kp LG(N7)>;
            key-positions = <36 26>;
        };

        combo_workspace_8 {
            bindings = <&kp LG(N8)>;
            key-positions = <36 27>;
        };

        combo_workspace_9 {
            bindings = <&kp LG(N9)>;
            key-positions = <36 28>;
        };

        combo_workspace_0 {
            bindings = <&kp LG(N0)>;
            key-positions = <36 29>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // | TAB  |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | SHFT |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | CTRL |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB    &kp Q  &kp W  &kp E     &kp R  &kp T        &kp Y    &kp U  &kp I      &kp O    &kp P     &kp BSPC
&kp LSHFT  &kp A  &kp S  &kp D     &kp F  &kp G        &kp H    &kp J  &kp K      &kp L    &kp SEMI  &kp SQT
&kp LCTRL  &kp Z  &kp X  &kp C     &kp V  &kp B        &kp N    &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp ESC
                         &kp LGUI  &mo 2  &kp SPACE    &kp RET  &mo 1  &kp RALT
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB     &kp EXCL  &kp AT  &kp HASH  &kp DLLR      &kp PRCNT    &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR  &kp RPAR  &kp BSPC
&kp LSHIFT  &kp N1    &kp N2  &kp N3    &kp NUMBER_4  &kp N5       &kp MINUS  &kp EQUAL  &kp LBKT   &kp RBKT  &kp BSLH  &kp GRAVE
&kp LCTRL   &kp N6    &kp N7  &kp N8    &kp N9        &kp N0       &kp UNDER  &kp PLUS   &kp LBRC   &kp RBRC  &kp PIPE  &kp TILDE
                              &kp LGUI  &trans        &kp SPACE    &kp RET    &trans     &kp RALT
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // | TAB  |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB     &trans        &trans        &trans        &trans        &trans          &trans   &trans          &trans    &trans     &trans  &kp BSPC
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans   &trans          &kp UP    &trans     &trans  &trans
&kp LSHFT   &trans        &trans        &trans        &trans        &trans          &trans   &kp LEFT_ARROW  &kp DOWN  &kp RIGHT  &trans  &trans
                                        &kp LGUI      &trans        &kp SPACE       &kp RET  &trans          &kp RALT
            >;
        };
    };
};
